* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('orangef.jpeg');
    background-position: center;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.1);
    background-blend-mode: multiply;
}

.container {
    position: relative;
    padding: 200px 70px;
    box-shadow: 2px 2px 8px 1px rgb(0, 0, 0);
    background: rgb(238, 105, 44, 0.65);
}

.container h1 {
    position: absolute;
    text-transform: uppercase;
    color: rgb(80, 41, 24);
    top: 10px;
    left: 80px;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: sans-serif;
}

.container .progressBar {
    width: 225px;
    height: 30px;
    background-color: rgb(22, 22, 22, 0.6);
    border-radius: 300px;
    position: absolute;
    transform: translateY(-70px);
    box-shadow: 1px 1px 1px 0.5px rgb(241, 184, 157);
    color: rgb(252, 180, 147);
    z-index: 1;
    text-align: center;
    font-size: 11px;
    text-transform: capitalize;
    overflow: hidden;
}

.container .progressBar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: calc(1.01% * var(--strength));
    top: 0;
    left: -1px;
    border-radius: 300px;
    background: rgb(238, 105, 44, 0.5);
    z-index: -1;
}

.container .magicSquare {
    position: relative;
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .magicSquare input {
    position: absolute;
    left: 0;
    width: 78%;
    height: 80%;
    border: none;
    box-shadow: 0.8px 0.8px 1px 1.5px rgb(241, 184, 157);
    margin-right: 10px;
    background-color: rgb(22, 22, 22, 0.6);
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    color: rgb(241, 184, 157);
    text-align: center;
}

.container .magicSquare input::placeholder {
    color: rgb(241, 184, 157);
    text-align: left;
    padding-left: 10px;
}

.container .magicSquare input:focus {
    color: rgb(241, 184, 157);
    font-size: small;
}

.container .magicSquare button {
    position: absolute;
    right: 0;
    width: 20%;
    height: 80%;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 1px 1px 1.5px 1px rgb(241, 184, 157);
    background-color: rgb(22, 22, 22, 0.6);
    cursor: pointer;
    color: rgb(241, 184, 157);
}

.container .magicSquare button:hover {
    transform: scale(1.03);
}

#pabilities {
    position: absolute;
    margin-top: 20px;
    font-size: 13px;
}

#pabilities div:not(:last-child) {
    margin-bottom: 20px;
}

.genra {
    display: none;
}

.input {
    position: absolute;
    width: 90%;
    border-radius: 5px;
    top: 10px;
    padding: 5px 0;
    outline: none;
    border: none;
    background: rgb(241, 184, 157);
    box-shadow: 0.3px 0.2px 1px 1px rgb(238, 105, 44);
    text-align: center;
    z-index: 999;
    transition: 0.5s ease-out;
}

.input:focus {
    color: rgb(75, 32, 13);
}

.active {
    position: absolute;
    width: 180px;
    height: 100px;
    background: rgb(75, 32, 13, 0.7);
    transition: 0.5s ease-out;
    transform: translateY(20px);
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px 2px rgb(241, 184, 157);
}

.buttons {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 180px;
    height: 50px;
    justify-content: space-around;
    align-items: flex-end;
    transition: 0.5s ease-out;
    transition: 2s ease-out;
}

.buttons button {
    padding: 2px 5px;
    text-transform: capitalize;
    background: rgb(241, 184, 157);
    border: none;
    box-shadow: 1px 1px 1px 0.5px rgb(238, 105, 44);
    transition: 0.5s ease-out;
}

.buttons button:hover {
    transform: scale(1.03);
}