* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(8, 8, 8);
}

a {
    position: relative;
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
    color: rgb(211, 204, 204);
    background: linear-gradient(45deg, rgb(66, 70, 67, 0.5), rgb(173, 168, 88, 0.5));
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 4px;
}

a span {
    display: block;
    position: absolute;
}

a:hover {
    color: #fff;
    background: linear-gradient(45deg, rgb(66, 70, 67), rgb(173, 168, 88));
    -webkit-box-reflect: below 0.5px linear-gradient(transparent, rgb(0, 0, 68, 0.3));
}

a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background: chartreuse;
    transition: transform 0.5s;
    transform-origin: top;
    transform: scaleY(0);
}

a:hover span:nth-child(1) {
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: bottom;
}

a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: chartreuse;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}

a:hover span:nth-child(2) {
    transform: scaleX(1);
    transition: transform 0.5s;
    transform-origin: left;
}

a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background: chartreuse;
    transition: transform 0.5s;
    transform-origin: top;
    transform: scaleY(0);
    transition-delay: 0.5s;
}

a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: chartreuse;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    transition-delay: 0.5s;
}

a:hover span:nth-child(4) {
    transform: scaleX(1);
    transition: transform 0.5s;
    transform-origin: left;
    transition-delay: 0.5s;
}